<!DOCTYPE html>
<html>

<head>
    <style>
        .container {
            width: 800px;
            font-family: Arial, Helvetica, sans-serif;
        }

        span {
            margin: 10px 0;
            display: block;
        }
    </style>

</head>

<body>
    <div class="container">
        <span>Oi, {{name}}</span>
        <span>Você solicitou alteração de password.</span>
        <span>sua chave: <strong>{{token}}</strong></a>
        </span>

        <span>Caso não tenha sido você quem solicitou a alteração da password, basta ignorar este e-mail.</span>

        <strong>Obrigado!</strong>

        <h3>Equipe | <strong>isqualhamTech</strong></h3>
    </div>
</body>

</html>